* {
  margin: 0px;
  padding: 0px;
  /* max-width: 1440px; */
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}



.gridrow{
  margin-top: 1.3rem;
}

.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  align-content: center;
  text-align: center;
  
}





.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.nav-link {
  margin-right: 36px;
}


.adventure-card {
  display : flex;
  flex-direction: row;
}


.card-text {
  height:15%;
  border: 1px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
 
  border-radius: 0px 0px  5px 5px;
  border-style: solid;
  border-color: #d9d9d9;
}

.adventure-card img {
 
  width:100%;
  height: 80%;
  border-radius: 5px 5px 0px 0px;
}

.adventure-card img:hover {

  filter:brightness(60%);
  transform: scale(1.005,1.005);
}



.adventure-detail-card {
  border: 0.8px;
  border-color: #ebebeb;
  border-radius: 5px;
  border-style: solid;
  padding: 1vh 2vh 2vh 2vh;
   
}

.adventure-card-image {
  height:100%;
  width:100%;
  padding-top: 2vh;
}
.adventure-card-image:hover {
 
  filter: brightness(70%);
}

@media only screen and (min-width: 768px) {

  #reservation {
    width: 400px;
    position: fixed;
    
  }
  .adventure-detail-card{
    margin-top: 2vh;
  }
}

@media (max-width: 767.98px)
 { 
    .adventure-detail-card{
      margin-top: 5%;
    }
 }

@media only screen and (max-width: 460px) {
  .card-text h6{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 410px) {
  .tile-text h5{
    font-size: 1rem;
  }
 
  .card-text{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
  }
  .card-text{height:auto;}

}

@media only screen and (max-width: 350px) {
  .tile-text h5{
    font-size: 0.8rem;
  }
  .adventure-card img {
     height: 50%;
   } 
  
}



/* common css______________________dropdown nav fafa icon */
.dropbtn {
  background-color:transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color:grey;
  border:none;
}

.dropdown {
 
  display: inline-block;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.dropdown .show {display: block;}





.fa-heart-o {
color: red;
cursor: pointer;
}

.fa{
color: red;
cursor: pointer;
}











/* __________________chatbox_____________________ */

.container8 {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker8 {
  border-color: #ccc;
  background-color: #ddd;
}

.container8::after {
  content: "";
  clear: both;
  display: table;
}

.container8 img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container8 img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}




.like .fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  color: teal;
}

.like .fa:hover {
  color: darkblue;
}



.like .far {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  color: teal;
}






/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
 
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
 
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}